doctype html
html
  head
    title Combat de monstres!
    link(href="http://fonts.googleapis.com/css?family=Creepster", rel="stylesheet")
    link(href="/css/main.css", rel="stylesheet")
  body
    h1 Combat des monstres!
    include menu
    block content